<!--
<ol class="breadcrumb">
	<li><a href="#/home">首页</a></li>
	<li class="active">预置弹幕模板管理</li>
</ol>

<div class="mb-20 mr-5">
	<div class="pull-left">
		<button href="#" class="btn mr-5 btn-default">新增</button>
		<button class="btn btn-default">批量删除</button>
	</div>
	<form class="form-inline pull-right">
		<label for="exampleInputName2">搜索：</label>
		<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
		<button type="submit" class="btn btn-primary">Send invitation</button>
	</form>
	<div class="clearfix"></div>		
</div>
<table class="table table-bordered text-center row ml-0">
	<thead>
		<tr>
			<th class="text-center">序号</th>
			<th class="text-center">模板</th>
			<th class="text-center">添加人</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>流川枫 2015-1-1 13:50-15:00</td>
			<td>流川枫</td>
		</tr>
		<tr>
			<td>1</td>
			<td>流川枫 2015-1-1 13:50-15:00</td>
			<td>流川枫</td>
		</tr>
		<tr>
			<td>1</td>
			<td>流川枫 2015-1-1 13:50-15:00</td>
			<td>流川枫</td>
		</tr>
	</tbody>
</table>
<div class="paging">
	<div class="pull-left mr-20">
		Showing <i>1</i> to <i>10</i> of <i>10</i> items.
	</div>
	<div class="pull-left">
		<span class="mr-5">show</span>
		<div class="dropdown inline mr-5">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
		<span>items</span>
	</div>
	<div class="pull-right mr-5">
		<ul class="pager m-0">
			<li><a href="#">Previous</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
</div>-->








<ol class="breadcrumb">
	<li><a href="#/home">首页</a></li>
	<li><a href="#/home">场地列表</a></li>
	<li><a href="#/home">新增场次</a></li>
	<li class="active">预置弹幕管理</li>
</ol>

<div class="mb-20 mr-5">
	<div class="col-sm-3">
		<button href="#" class="btn mr-5 btn-default">新增</button>
		<button class="btn btn-default">选择模板</button>
	</div>
	<span class="lh34">
	    星美国际影城-极盗者（2016年3月4日10:00:00-14:00:00）
	</span>
	<form class="form-inline pull-right">
		<label for="exampleInputName2">搜索：</label>
		<input type="text" class="form-control" id="" placeholder="请输入...">
		<button type="submit" class="btn btn-primary">搜索</button>
	</form>
	<div class="clearfix"></div>		
</div>
<table class="table table-bordered text-center row ml-0">
	<thead>
		<tr>
			<th class="text-center">时间</th>
			<th class="text-center">内容</th>
			<th class="text-center">添加人</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox1" value="option1"> 1
				</label>
			</td>
			<td>流川枫 2015-1-1 13:50-15:00</td>
			<td>流川枫</td>
		</tr>
		<tr>
			<td>1</td>
			<td>流川枫 2015-1-1 13:50-15:00</td>
			<td>流川枫</td>
		</tr>
		<tr>
			<td>1</td>
			<td>流川枫 2015-1-1 13:50-15:00</td>
			<td>流川枫</td>
		</tr>
	</tbody>
</table>
<div class="paging">
	<div class="pull-left mr-20">
		Showing <i>1</i> to <i>10</i> of <i>10</i> items.
	</div>
	<div class="pull-left">
		<span class="mr-5">show</span>
		<div class="dropdown inline mr-5">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
		<span>items</span>
	</div>
	<div class="form-group text-center mt-20">
		<div class="col-sm-offset-2 col-sm-2">
			<button type="button" class="btn btn-default mr-20">确定</button>
			<button type="button" class="btn btn-default ml-20">保存为模板</button>
		</div>
	</div>
	<div class="pull-right mr-5">
		<ul class="pager m-0">
			<li><a href="#">Previous</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
</div>

<!--弹窗-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">新增人员</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline">
					<div class="form-group pb-10">
						<label for="message-identity" class="control-label">模板名称:</label>
						<div class="dropdown inline mr-5">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Dropdown
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="javascript:;">Action</a></li>
								<li><a href="javascript:;">Another action</a></li>
								<li><a href="javascript:;">Something else here</a></li>
								<li><a href="javascript:;">Separated link</a></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer border-none">
				<button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
				<button type="button" class="btn btn-primary">取消</button>
			</div>
		</div>
	</div>
</div>




