<ol class="breadcrumb">
	<li><a href="#/home">首页</a></li>
	<li class="active">场地列表</li>
</ol>

<div class="mb-20 mr-5">
	<div class="pull-left">
		<a href="#/site/add" class="btn mr-5 btn-default">新增场地</a>
		<button class="btn btn-default">批量删除</button>
	</div>
	<form class="form-inline pull-right">
		<label for="exampleInputName2">搜索：</label>
		<input type="text" class="form-control" id="" placeholder="请输入...">
		<button type="submit" class="btn btn-primary">搜索</button>
	</form>
	<div class="clearfix"></div>		
</div>
<table class="table table-bordered text-center row ml-0">
	<thead>
		<tr>
			<th class="text-center">序号</th>
			<th class="text-center col-md-3">场地名称</th>
			<th class="text-center col-md-3">地点</th>
			<th class="text-center">类型</th>
			<th class="text-center">厅数</th>
			<th class="text-center">创建时间</th>
			<th class="text-center">场次列表</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox1" value="option1"> 1
				</label>
			</td>
			<td>星美国际影城</td>
			<td>北京市朝阳区嘻嘻嘻嘻嘻嘻</td>
			<td>电影院</td>
			<td>1</td>
			<td>2015-1-1 13:50-15:00</td>
			<td>
				<a href="#/site/list" type="button" class="btn btn-info">进入</a>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>星美国际影城</td>
			<td>北京市朝阳区嘻嘻嘻嘻嘻嘻</td>
			<td>电影院</td>
			<td>1</td>
			<td>2015-1-1 13:50-15:00</td>
			<td>
				<a href="#" type="button" class="btn btn-info">进入</a>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>星美国际影城</td>
			<td>北京市朝阳区嘻嘻嘻嘻嘻嘻</td>
			<td>电影院</td>
			<td>1</td>
			<td>2015-1-1 13:50-15:00</td>
			<td>
				<a href="#" type="button" class="btn btn-info">进入</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="paging">
	<div class="pull-left mr-20">
		Showing <i>1</i> to <i>10</i> of <i>10</i> items.
	</div>
	<div class="pull-left">
		<span class="mr-5">show</span>
		<div class="dropdown inline mr-5">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="javascript:;">Action</a></li>
				<li><a href="javascript:;">Another action</a></li>
				<li><a href="javascript:;">Something else here</a></li>
				<li><a href="javascript:;">Separated link</a></li>
			</ul>
		</div>
		<span>items</span>
	</div>
	<div class="pull-right mr-5">
		<ul class="pager m-0">
			<li><a href="javascript:;">Previous</a></li>
			<li><a href="javascript:;">Next</a></li>
		</ul>
	</div>
</div>