<ol class="breadcrumb">
	<li><a href="#/home">首页</a></li>
	<li class="active">今日活动</li>
</ol>

<div class="pull-right mb-20 mr-5">
	<form class="form-inline">
		<label for="exampleInputName2">搜索：</label>
		<input type="text" class="form-control" id="" placeholder="请输入...">
		<button type="submit" class="btn btn-primary">搜索</button>
	</form>		
</div>
<table class="table table-bordered text-center row ml-0">
	<thead>
		<tr>
			<th class="text-center">序号</th>
			<th class="text-center">时间</th>
			<th class="text-center">场地</th>
			<th class="text-center">场地名次</th>
			<th class="text-center">厅</th>
			<th class="text-center col-md-3">人员</th>
			<th class="text-center col-md-2">弹幕管理后台</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>2015-1-1 13:50-15:00</td>
			<td>星美国际影城</td>
			<td>九层妖塔</td>
			<td>1</td>
			<td>流川枫，江户川柯南</td>
			<td>
				<a href="#/danmu">
					<button type="button" class="btn btn-info">进入</button>
				</a>
				<button type="button" class="btn btn-primary">密码修改</button>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2015-1-1 13:50-15:00</td>
			<td>星美国际影城</td>
			<td>九层妖塔</td>
			<td>1</td>
			<td>流川枫，江户川柯南</td>
			<td>
				<button type="button" class="btn btn-info">进入</button>
				<button type="button" class="btn btn-primary">密码修改</button>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2015-1-1 13:50-15:00</td>
			<td>星美国际影城</td>
			<td>九层妖塔</td>
			<td>1</td>
			<td>流川枫，江户川柯南流川枫，江户川柯南流川枫，江户川柯南流川枫，江户川柯南流川枫，江户川柯南</td>
			<td>
				<button type="button" class="btn btn-info">进入</button>
				<button type="button" class="btn btn-primary">密码修改</button>
			</td>
		</tr>
	</tbody>
</table>
<div class="paging">
	<div class="pull-left mr-20">
		Showing <i>1</i> to <i>10</i> of <i>10</i> items.
	</div>
	<div class="pull-left">
		<span class="mr-5">show</span>
		<div class="dropdown inline mr-5">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				{{ selectVal }}
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li ng-repeat="count in counts" ng-click='selectFun($event)'>
					<a href="javascript:;">{{ count }}</a>
				</li>
<!--
				<li><a href="javascript:;">10</a></li>
				<li><a href="javascript:;">Another action</a></li>
				<li><a href="javascript:;">Something else here</a></li>
				<li><a href="javascript:;">Separated link</a></li>
-->
			</ul>
		</div>
		<span>items</span>
	</div>
	<div class="pull-right mr-5">
		<ul class="pager m-0">
			<li><a href="javascript:;">Previous</a></li>
			<li><a href="javascript:;">Next</a></li>
		</ul>
	</div>
</div>